@font-face {
	font-family: "Convergence";
	font-style: normal;
	font-weight: 400;
	src: local("Convergence-Regular"), url("../fonts/Convergence-Regular.ttf") format("truetype");
}

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), url("../fonts/Roboto-regular.ttf") format("truetype");
}

@font-face {
	font-family: "Glyphicons Halflings";
	font-style: normal;
	font-weight: 400;
	src: local("glyphicons-halflings-regular"), url("../fonts/glyphicons-halflings-regular.ttf") format("truetype");
}

@font-face {
	font-family: "Blambot Casual";
	src: local("Blambot-Casual"), url("../fonts/Blambot-Casual-Regular.ttf") format("truetype");
}

@keyframes kf-fade-out {
	from {
		opacity: 1;
	}

	to {
		opacity: 0;
	}
}

$font-one: "neue-haas-grotesk-display", "Inter", "Roboto", Arial, sans-serif;
$font-two: "neue-haas-grotesk-display", "Inter", "Roboto", Arial, sans-serif;

$pct-darken-active: 10%;
$pct-darken-border: 15%;
$pct-darken-border--active: 20%;
$pct-darken-hover: 5%;

$sz-y-header: 73px;

$spacer: 1rem;

$rgb-off-black: #212121;

$rgb-active-blue--light: #4FC3F7;
$rgb-active-blue: #29B6F6;
$rgb-active-blue--dark: #03A9F4;
$rgb-active-red--light: #EF9A9A;
$rgb-active-red: #EF5350;
$rgb-active-red--dark: #F44336;
$rgb-inactive-grey: #ECEFF1;

$rgb-name-red: #F44336;
$rgb-name-red--night: #607D8B;
$rgb-name-alt--night: #c2c2c2;
$rgb-bg-orange: #FFE0B2;
$rgb-bg-highlight: #FFC107;

$rgb-link-blue: $rgb-active-blue;
$rgb-link-blue--muted: #CFD8DC;
$rgb-link-blue--night: #03A9F4;
$rgb-link-blue--muted-night: #607D8B;

$rgb-border-grey: #ECEFF1;
$rgb-border-grey--trans: #CFD8DC;
$rgb-border-grey--trans-muted: #B0BEC5;
$rgb-border-grey--muted: #F5F5F5;
$rgb-border-grey--list-row: #F5F5F5;
$rgb-border-grey--night: #616161;
$rgb-border-grey--trans-night: #616161;
$rgb-border-grey--list-row-night: #424242;

$rgb-modal-overlay-grey: #42424288;
$rgb-shadow-grey: rgba(0, 0, 0, 0.175);
$rgb-shadow-grey--dark: rgba(0, 0, 0, 0.475);

$rgb-stripe-grey: #75757518;
$rgb-stripe-grey--faint: #BDBDBD18;
$rgb-stripe-grey--night: #aaa4;

$rgb-cb-grey: #616161;

$rgb-bg: #FAFAFA;
$rgb-bg--alt: #ECEFF1;

$rgb-bg--night: #000;
$rgb-bg--alt-night: #212121;

$rgb-bg-highlight--night: #FFC107;
$rgb-font: #212121;
$rgb-font--muted: #424242;
$rgb-font--night: #EEEEEE;

$rgb-form-control-bg--night: #000;

$rgb-ctx-item-text-disabled: #757575;

$rgb-alert-text-success: #4CAF50;
$rgb-alert-text-info: #00BCD4;
$rgb-alert-text-warning: #FFC107;
$rgb-alert-text-danger: #F44336;

$rgb-btn-default-active--night: #ffffff40;

$rgb-btn-danger-bg-red: #F44336;
$rgb-btn-danger-bg-red--night: #F44336;

$rgb-btn-danger-border-red: #C62828;

$rgb-btn-primary-blue: $rgb-active-blue;
$rgb-btn-primary-blue--desaturated: #B0BEC5;

$rgb-class-variant: #FFC107;
$rgb-class-ua: #FF9800;
$rgb-subclass: #00BCD4;
$rgb-subclass--stale: #607D8B;
$rgb-subclass-ua: #009688;
$rgb-subclass-ua--stale: #81C784;
$rgb-class-brew: #9C27B0;

$rgb-class-variant--night: #FFAB91;
$rgb-class-ua--night: #CDDC39;
$rgb-subclass--night: $rgb-subclass;
$rgb-subclass--night-stale: $rgb-subclass--stale;
$rgb-subclass-ua--night: #4CAF50;
$rgb-subclass-ua--night-stale: #009688;
$rgb-class-brew--night: #9C27B0;

$rgb-roll-min: #F44336;
$rgb-roll-max: #8BC34A;
$rgb-roll-min--muted: desaturate($rgb-roll-min, 35%);
$rgb-roll-max--muted: desaturate($rgb-roll-max, 35%);

// Colors blended using https://www.w3schools.com/colors/colors_mixer.asp
$rgb-btn-primary-blue--night: #2196F3; // #337ab7 blended with #222
$rgb-btn-danger-red--night: #F44336; // #d9534f blended with #222
$rgb-btn-warning-orange--night: #FF9800; // #f0ad4e blended with #222
$rgb-btn-info-blue--night: #00BCD4; // #31b0d5 blended with #222
$rgb-btn-success-green--night: #009688; // #5cb85c blended with #222

/* Z-Indices */
$z-token-image: 10;

$z-side-menu: 60;

$z-omnisearch: 100;
$z-book-find: 100;
$z-bookmode: 100;
$z-rollerbox-hidden: 100;
$z-rollerbox-active: 110;

// Z-indices 200-300 reserved for hover windows
$z-hwin: 200;

$z-search: 900;

$z-modal-wrapper: 1000;
$z-modal-inner: 1001;
$z-modal-legal: 1000;

$z-context-menu: 1100;

$z-temp-effect: 2000;

/* *** */

/* region Timing */
$time-1-frame: 17ms;
$time-2-frames: 34ms;
$time-3-frames: 51ms;
$time-4-frames: 67ms;
$time-5-frames: 84ms;
/* endregion */

// region Widths
$w-ipt-number-1-digit: 24px;
$w-ipt-number-1-5-digit: 30px;
$w-ipt-number-2-digit: 40px;
$w-ipt-number-3-digit: 60px;
$w-ipt-number-4-digit: 80px;

$w-scroll-body: 15px;
// endregion

@mixin shadow-1 () {
	box-shadow: 0 6px 12px $rgb-shadow-grey;
}

@mixin shadow-1--dark () {
	box-shadow: 0 6px 12px $rgb-shadow-grey--dark;
}

@mixin shadow-2 () {
	box-shadow: 0 3px 6px $rgb-shadow-grey;
}

@mixin shadow-active {
	box-shadow: 0 0 2px 0 #000b;
}

@mixin shadow-active--night {
	box-shadow: 0 0 3px 0 #fffb;
}

@mixin row-glow-active {
	box-shadow: inset 0 0 0 200px rgba(0, 107, 196, 0.3);
}

@mixin row-glow-active--alt {
	box-shadow: inset 0 0 0 200px rgba(148, 148, 148, 0.2);
}

@mixin overflow-dots {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

@mixin vr {
	width: 1px;
	height: 100%;
	border-left: 1px solid $rgb-border-grey;
}

/* *** */

@mixin font-regular {
	font-family: Arial, sans-serif;
	font-variant: normal;
	font-weight: normal;
}

$width-screen-xs: 480px;
$width-screen-sm: 768px;
$width-screen-md: 991px;
$width-screen-lg: 1200px;

// region linked titles
%linked-titles-base {
	.rd__h--0 .entry-title-inner:hover::before {
		font-size: 50%;
	}

	.rd__h--1 .entry-title-inner:hover::before {
		font-size: 55%;
	}

	.rd__h--2 .entry-title-inner:hover::before {
		font-size: 60%;
	}
}

%linked-titles-base-inner {
	cursor: copy;

	&:hover::before {
		content: " 🔗";
		color: rgba(0, 0, 0, 0.2);
		position: relative;
		float: left;
		width: 14px;
		height: 14px;
		right: 20px;
		margin-right: -30px;
		font-size: 85%;
	}
}
// endregion

// region filters
$fltr-stripe: 11px;
$fltr-2stripe: 22px;
// endregion

// region Shared UI
@mixin cb-custom {
	width: 16px;
	height: 16px;
	padding: 0;
	flex-shrink: 0;
	flex-grow: 0;
	display: inline-block;
	cursor: pointer;
	border: 1px solid $rgb-border-grey;
	border-radius: 4px;
	outline: none;
	user-select: none;

	&:active {
		@include shadow-active();
	}

	&.active {
		background: $rgb-cb-grey;
		border-color: lighten($rgb-cb-grey, 15%);

		&.disabled {
			background-color: lighten($rgb-cb-grey, 25%);
		}
	}

	&.disabled {
		cursor: default;
		box-shadow: none;
	}
}

@mixin cb-custom--night {
	background: $rgb-bg--night;
	border-color: $rgb-border-grey--night;

	&:active {
		@include shadow-active--night();
	}

	&.active {
		background: $rgb-border-grey--night;
		border-color: lighten($rgb-border-grey--night, 10%);

		&.disabled {
			background-color: lighten($rgb-border-grey--night, 20%);
		}
	}

	&.disabled {
		box-shadow: none;
	}
}
// endregion
